
<h1>
  Number of Community IDs Checked: {{ numberOfIds }}
</h1>

<h4>
    Number of Matching Records in Environmental History Form: {{ numberofMatchingIds }}
</h4>


<table>
  <!--Latrine Access-->
  <thead>
    <h4>Latrine Access</h4>
    <tr>
      <th>Yes</th>
      <th>No</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>{{latrineAccessYes}}</th>
      <th>{{latrineAccessNo}}</th>
    </tr>
  </tbody>

  <!--Roof and Floor-->
  <thead>
    <h4>Poor Roof and Floor Conditions</h4>
    <tr>
      <th>Bad Roof</th>
      <th>Dirt Floor</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>{{poorRoofCondition}}</th>
      <th>{{poorFloorCondition}}</th>
    </tr>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>Average Trash Per week</th>
      <th>Trash Once a Week</th>
      <th>Trash Twice a week</th>
      <th>Trash Thrice or More a week</th>
    </tr>

  </thead>
  <tbody>
    <tr>
      <th>{{trashAverage}}</th>
      <th>{{trash1aweek}}</th>
      <th>{{trash2aweek}}</th>
      <th>{{trash3omore}}</th>
    </tr>
  </tbody>
</table>

<table>
  <tr>
    <th>UserID</th>
    <th>Latrine Access</th>
    <th>Floor Condition</th>
    <th>Roof Condition</th>
    <th>Clinic Access</th>
    <th>Water Access</th>
    <th>Times/Week Trash Collected</th>
    
  </tr>
  <tr *ngFor="let user of arrayOfMatchEnvFiles">
    <th>{{ user.id }} </th>
    <th>{{ user.get('latrineAccess') }} </th>
    <th>{{ user.get('conditionoFloorinyourhouse') }} </th>
    <th>{{ user.get('conditionoRoofinyourhouse') }} </th>
    <th>{{ user.get('clinicAccess') }} </th>
    <th>{{ user.get('waterAccess') }} </th>
    <th>{{ user.get('timesperweektrashcollected') }} </th>
  </tr>
</table>